<div class="container-fluid body-content">
    <div id="profileSidebar" class="col-sm-3 body-left">
        <div profile></div>
        <div billingnavigation class="col-sm-12"></div>&nbsp;
    </div>

    <!--Body Header-->
    <div class="col-sm-9 body-right">
        <div class="panel">
            <div class="panel-body">

                <!--Header Items-->
                <div class="col-sm-12">
                    <div class="row col-sm-12" breadcrumb></div>
                    <div class="col-sm-12">

                        <div class="col-sm-8">
                            <div class="pull-left" ng-controller="ProfileCtrl">
                                <h4>{{name}}'s {{entryType}}</h4>
                                <p>Last Updated: {{updateDate}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>


        <!--Timeline View-->
        <h4 class="text-center text-white">{{entryType}}</h4>
        <div class="panel">
            <div class="panel-body">
                <div timeline ng-show="entries" chart-data="entries" class="timeline-graph"></div>

                <div ng-repeat="(recordIndex, recordEntry) in entries" class="col-sm-12 row" id="record{{recordIndex}}">

                    <div class="col-sm-12 row timeline-side">
                        <billingentry entry-type="{{entryType}}" entry-index="{{recordIndex}}"></entry>
                    </div>   

                </div>
                    <div class="col-sm-2 center-block text-center timeline-footer">
                        <svg width="30" height="30">
                            <circle cx="15" cy="15" r="15"></circle>
                        </svg>
                    </div>
            </div>
        </div>
    </div>

    <!--<pre>{{entries | json}}</pre>-->

</div>
