<!doctype html>
<html class="no-js" ng-app="phrPrototypeApp">
<head>
  <meta charset="utf-8">
  <title ng-controller="titleController">{{pageTitle}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <div class="wrapper" id="index-wrapper" ng-controller="bonusCtrl">

        <!--Site Header.-->
        <div class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">

          <!--Logged In Navbar-->
          <div ng-if="loginStatus === true" class="container-fluid">
            <div style="margin: 0px 20px;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/home"><img class="img-navbar-logo" src="images/bb-logo-vector.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="user-menu">
              <ul class="nav navbar-nav">
                <li><a href="#/record">My Record</a></li>
                <li><a href="#/billing/insurance">My Billing</a></li>
                <li><a href="#/notes">My Notes</a></li>
                <li><a href="#/files">My Files</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                <img class="img-navbar-avatar" ng-controller="ProfileCtrl" src="{{imageUrl}}">
                </li>
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-controller="ProfileCtrl"> {{name}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#/profile">My Profile</a></li>
                    <li><a href="#/account">My Account</a></li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="logout()">Log out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            </div>
          </div>

          <!--Logged Out Navbar-->
          <div ng-if="loginStatus === false" class="container-fluid">
            <div style="margin: 0px 20px;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#logout-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/home"><img class="img-navbar-logo" src="images/bb-logo-vector.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="logout-menu">
              <ul class="nav navbar-nav navbar-right ">
                <li><a href="#/register">Sign Up</a></li>
                <li><a href="#/login">Log In</a></li>
            </ul>
              
            </div>
            </div>
          </div>
          <!--<div ng-if="loginStatus === false" class="container-fluid">
          <div style="margin: 0px 20px; height:70px" class="navbar-default">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><img class="img-navbar-logo" src="images/bb-logo-vector.png"></a>
            </div>
            <ul class="nav navbar-nav navbar-right ">
                <li><a href="#/register">Sign Up</a></li>
                <li><a href="#/login">Log In</a></li>
            </ul>
            </div>
          </div>-->



        </div>
        <div ng-view=""></div>
        <div class="text-center col-md-12 footer">
       <div class="row">
       <h6>Privasera Demo PHI Application</h6>
       </div>
     </div>
     </div>
     


     <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
     </script>

     <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/d3-tip/index.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/konami-code/src/jquery.konami.min.js"></script>
    <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!--<script src="bower_components/jquery-lockfixed/jquery.lockfixed.js"></script>-->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/authentication.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/services/history.js"></script>
    <script src="scripts/directives/timeline.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/profileOne.js"></script>
    <script src="scripts/controllers/account.js"></script>
    <script src="scripts/controllers/reset.js"></script>
    <script src="scripts/services/account.js"></script>
    <script src="scripts/directives/profile.js"></script>
    <script src="scripts/controllers/files.js"></script>
    <script src="scripts/services/files.js"></script>
    <script src="scripts/directives/breadcrumb.js"></script>
    <script src="scripts/controllers/record.js"></script>
    <script src="scripts/controllers/record/allergies.js"></script>
    <script src="scripts/services/record.js"></script>
    <script src="scripts/services/record/allergies.js"></script>
    <script src="scripts/services/record/vitals.js"></script>
    <script src="scripts/directives/measurements.js"></script>
    <script src="scripts/services/format.js"></script>
    <script src="scripts/controllers/record/encounters.js"></script>
    <script src="scripts/services/record/encounters.js"></script>
    <script src="scripts/directives/recordnavigation.js"></script>
    <script src="scripts/controllers/record/immunizations.js"></script>
    <script src="scripts/controllers/billing/claims.js"></script>
    <script src="scripts/services/billing/claims.js"></script>
    <script src="scripts/controllers/billing/insurance.js"></script>
    <script src="scripts/services/billing/insurance.js"></script>
    <script src="scripts/directives/billingnavigation.js"></script>
    <script src="scripts/services/record/immunizations.js"></script>
    <script src="scripts/services/record/medications.js"></script>
    <script src="scripts/controllers/record/medications.js"></script>
    <script src="scripts/controllers/record/conditions.js"></script>
    <script src="scripts/services/record/conditions.js"></script>
    <script src="scripts/services/record/procedures.js"></script>
    <script src="scripts/controllers/record/procedures.js"></script>
    <script src="scripts/controllers/record/vitals.js"></script>
    <script src="scripts/services/record/results.js"></script>
    <script src="scripts/controllers/record/results.js"></script>
    <script src="scripts/controllers/record/social.js"></script>
    <script src="scripts/services/record/social.js"></script>
    <script src="scripts/directives/timeline-icon.js"></script>
    <script src="scripts/services/partial.js"></script>
    <script src="scripts/controllers/record/allergies/review.js"></script>
    <script src="scripts/controllers/record/download.js"></script>
    <script src="scripts/controllers/files/upload.js"></script>
    <script src="scripts/controllers/record/encounters/review.js"></script>
    <script src="scripts/controllers/record/immunizations/review.js"></script>
    <script src="scripts/controllers/record/conditions/review.js"></script>
    <script src="scripts/controllers/record/medications/review.js"></script>
    <script src="scripts/controllers/record/procedures/review.js"></script>
    <script src="scripts/controllers/record/results/review.js"></script>
    <script src="scripts/controllers/record/vitals/review.js"></script>
    <script src="scripts/controllers/record/social/review.js"></script>
    <script src="scripts/controllers/bonus.js"></script>
    <script src="scripts/services/d3.js"></script>
    <script src="scripts/controllers/notes.js"></script>
    <script src="scripts/services/notes.js"></script>
    <script src="scripts/directives/entry.js"></script>
    <script src="scripts/directives/billingentry.js"></script>
    <script src="scripts/filters/starred.js"></script>
    <script src="scripts/filters/sections.js"></script>
    <script src="scripts/controllers/pagetitle.js"></script>
    <!-- endbuild -->
  </body>
  </html>
