<div class="profile" ng-controller="ProfileCtrl">
    <div class="profile-body">
        <div class="profile-image">
            <img class="img-responsive center-block" src="{{imageUrl}}"></div>
        <div class="profile-content">
            <h4>{{name}}</h4>
            <p>{{email}}</p>
            <p>Born: {{dob}}</p>
        </div>
    </div>
</div>
